<!DOCTYPE html>
<html lang="tr">
<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Material Design Bootstrap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    @Styles.Render("~/basic/css")

</head>
<body>
    <!-- Header-->
    <header>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light white" id="navbar" style="transition: top 0.3s;">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand waves-effect px-3 py-2" href="https://mdbootstrap.com/material-design-for-bootstrap/" style="font-weight:700!important;font-size:16px;" target="_blank">
                    URGEL<span class="badge white shadow-none" style="color:#0099CC!important;">Beta</span>
                </a>
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link waves-effect" href="#">BLOG</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="https://mdbootstrap.com/getting-started/" target="_blank">KATEGORİLER</a>
                        </li>
                    </ul>
                    <!-- Right -->
                    <ul class="navbar-nav">
                        <li class="nav-item nl2">
                            <!-- Basic dropdown -->
                            <div class="btn-group">
                                <button class="btn white shadow-none dropdown-toggle black-text text-capitalize p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight:500;font-size:14px;padding:8px 15px!important;">HESABIM</button>
                                <div class="dropdown-menu pb-0">
                                    <a class="dropdown-item py-1" style="font-weight:400;" href="#"><i class="fa fa-angle-right mr-2"></i>Mustafa</a>
                                    <a class="dropdown-item py-1" style="font-weight:400;" href="#"><i class="fa fa-angle-right mr-2"></i>Yönet</a>
                                    <div class="dropdown-divider mt-0"></div>
                                    <a class="dropdown-item py-1" style="font-weight:400;" href="#"><i class="fa fa-angle-right mr-2"></i>Oturumu kapat</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">
                                <i class="fa fa-flag text-warning"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navbar -->
        <nav style="margin-bottom:50px;margin-top:54px;" class="bg-info text-center"><a class="py-5 d-block" style="font-weight:normal;color:white;padding:10px 0px!important;">Yeni sürüm yakında</a></nav>
    </header>
    <!-- /Header-->
    <!-- Start your project here-->

    <main>

        @RenderBody()

    </main> <!--Main finish-->
    <!-- /Start your project here-->
    <!--Footer-->
    <footer class=" wow fadeIn" style="margin-top:100px;">
        <hr />
        <!-- Social icons -->
        <div class="row justify-content-center py-4">
            <div class="col-12 col-lg-2 mb-5 mb-lg-0 text-center text-lg-left">
                <span class="d-block" style="font-size:16px;">Bizimle ilgili</span>
                <ul class="list-unstyled mt-3 mb-0 d-block">
                    <li class="py-1"><a class="d-inline d-lg-flex"><i class="fa fa-angle-right pr-1 d-none d-lg-inline" style="font-size:22px;"></i><p class="mb-0 font-weight-normal">Bültene katılın</p></a></li>
                    <li class="py-1"><a class="d-inline d-lg-flex"><i class="fa fa-angle-right pr-1 d-none d-lg-inline" style="font-size:22px;"></i><p class="mb-0 font-weight-normal">Hakkımızda</p></a></li>
                    <li class="py-1"><a class="d-inline d-lg-flex"><i class="fa fa-angle-right pr-1 d-none d-lg-inline" style="font-size:22px;"></i><p class="mb-0 font-weight-normal">Bize Ulaş</p></a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-2 mb-5 mb-lg-0 text-center text-lg-left">
                <span class="d-block" style="font-size:16px;">Başlı Kategoriler</span>
                <ul class="list-unstyled mt-3 mb-0 d-block">
                    <li class="py-1"><a class="d-inline d-lg-flex"><i class="fa fa-angle-right pr-1 d-none d-lg-inline" style="font-size:22px;"></i><p class="mb-0 font-weight-normal">Yazılım</p></a></li>
                    <li class="py-1"><a class="d-inline d-lg-flex"><i class="fa fa-angle-right pr-1 d-none d-lg-inline" style="font-size:22px;"></i><p class="mb-0 font-weight-normal">Sistem</p></a></li>
                    <li class="py-1"><a class="d-inline d-lg-flex"><i class="fa fa-angle-right pr-1 d-none d-lg-inline" style="font-size:22px;"></i><p class="mb-0 font-weight-normal">Gelişim</p></a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-2 text-center text-lg-left">
                <span class="d-block" style="font-size:16px;">Site Linkleri</span>
                <ul class="list-unstyled mt-3 mb-5 mb-lg-0 d-block">
                    <li class="py-1"><a class="d-inline d-lg-flex"><i class="fa fa-angle-right pr-1 d-none d-lg-inline" style="font-size:22px;"></i><p class="mb-0 font-weight-normal">Blog</p></a></li>
                    <li class="py-1"><a class="d-inline d-lg-flex"><i class="fa fa-angle-right pr-1 d-none d-lg-inline" style="font-size:22px;"></i><p class="mb-0 font-weight-normal">Kategoriler</p></a></li>
                    <li class="py-1"><a class="d-inline d-lg-flex"><i class="fa fa-angle-right pr-1 d-none d-lg-inline" style="font-size:22px;"></i><p class="mb-0 font-weight-normal">Gelişim</p></a></li>
                </ul>
            </div>
        </div>
        <!-- Social icons -->
        <hr />
        <span class="d-block px-5 footer-copyright text-center py-2"><a class="text-danger pr-2">Yasal Uyarı</a> Bu sitede yer alan içerikler profil sahiplerine, dolayısıyla bu siteye aittir. Hiçbir içerik önceden özel izin alınmadan kullanılamaz. <a href="#" class="pl-2">Gizlilik Politikası</a></span>

        <!--Copyright-->
        <div class="footer-copyright text-center pb-2 px-4">
            © 2018 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/" target="_blank"> turkgelistiriciler.com </a>
            Tüm hakları saklıdır.

            <span>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                | This template is made with <i class="fa fa-heart-o text-danger font-weight-bold" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </span>
        </div>
        <!--/.Copyright-->
        <hr class="mb-0" />
        <div class="row text-center justify-content-center">
            <div class="col-12">
                <div class="py-4">

                    <a class="link px-3 py-2" style="text-decoration:none;" href="https://www.facebook.com/" target="_blank">
                        <i class="fa fa-facebook" style="color:#3B5998;font-size:18px;"></i>
                    </a>

                    <a class="link px-3 py-2" style="text-decoration:none;" href="https://twitter.com/" target="_blank">
                        <i class="fa fa-twitter" style="color:#4099FF;font-size:18px;"></i>
                    </a>
                    <a class="link px-3 py-2" style="text-decoration:none;" href="https://www.instagram.com/" target="_blank">
                        <i class="fa fa-instagram" style="color:black;font-size:18px;"></i>
                    </a>
                    <a class="link px-3 py-2" style="text-decoration:none;" href="https://github.com/" target="_blank">
                        <i class="fa fa-github" style="color:#4183C4;font-size:18px;"></i>
                    </a>
                </div>
            </div>
        </div>

        <hr class="mt-0" />
        <div class="row justify-content-center">
            <div class="col-4">
                <img class="img-fluid" src="https://netbramha.com/wp-content/uploads/2016/12/senior-front-end-developer-openings-1.gif" />
            </div>
        </div>


    </footer>

    <!--/.Footer-->
    <!-- SCRIPTS -->
    @Scripts.Render("~/basic/js")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        var prevScrollpos = window.pageYOffset;
        window.onscroll = function () {
            var currentScrollPos = window.pageYOffset;
            if (prevScrollpos > currentScrollPos) {
                document.getElementById("navbar").style.top = "0";

            } else {
                document.getElementById("navbar").style.top = "-66px";

            }
            prevScrollpos = currentScrollPos;
        }</script>

    <script>
        //<![CDATA[
        jQuery(document).ready(function ($) { $(".multitab-widget-content-widget-id").hide(); $("ul.multitab-widget-content-tabs-id li:first a").addClass("multitab-widget-current").show(); $(".multitab-widget-content-widget-id:first").show(); $("ul.multitab-widget-content-tabs-id li a").click(function () { $("ul.multitab-widget-content-tabs-id li a").removeClass("multitab-widget-current a"); $(this).addClass("multitab-widget-current"); $(".multitab-widget-content-widget-id").hide(); var activeTab = $(this).attr("href"); $(activeTab).fadeIn(); return false; }); });
//]]></script>



</body>
</html>
